// 字号
$font-regular-small-size: 10px; // 常规小号字体
$font-medium-small-size: 11px; // 中等小号字体
$font-large-small-size: 12px; // 小号字体
$font-regular-middle-size: 13px; // 常规中号字体
$font-medium-middle-size: 15px; // 中等中号字体
$font-large-middle-size: 17px; // 中号字体
$font-regular-big-size: 19px; // 常规大号字体
$font-medium-big-size: 21px; // 大号字体

$bold-weight: 500;
$normal-weight: 400;
