$primary-color: #1988f7; // 主色
$primary-bg-color: #e5f2ff; // 主题色背景色
$green-color: #54d88c; // 绿色
$light-green-color: #e9fbf0; // 浅绿
$orange-color: #ffb051;
$light-orange-color: #fff3e4;
$red-color: #ff6362;
$light-red-color: #ffe6e5;
$black85-color: rgb(0 0 0 / 85%);
$black65-color: rgb(0 0 0 / 65%);
$black45-color: rgb(0 0 0 / 45%);
$black25-color: rgb(0 0 0 / 25%);
$white-color: #fff;
$bg-color: #f6f7f9;
$divider-color: #f1f5f9;
$divider-pro-color: #e5e9ed;
$black-color: #000;
