@import '../../styles';

$prefix: yp-tag;

.#{$prefix} {
  display: inline-block;

  &-size {
    &-normal {
      @include normal-large-small-font;

      padding: 3px 6px;
      border-radius: 2px;
    }

    &-large {
      @include normal-regular-middle-font;

      padding: 6px 8px;
      border-radius: 4px;
    }

    &-huge {
      @include bold-medium-middle-font($black65-color);

      padding: 9px 20px;
      border-radius: 4px;
    }
  }

  &-theme {
    &-default {
      background-color: $bg-color;
    }

    &-primary {
      color: $primary-color;
      background-color: $primary-bg-color;
    }

    &-orange {
      color: $orange-color;
      background-color: $light-orange-color;
    }
  }
}
